[Unit]
Description=Daily refresh of WoW: Forever item data

[Timer]
OnCalendar=daily
RandomizedDelaySec=1800
Persistent=true

[Install]
WantedBy=timers.target
